{% extends 'base.html' %}

{% block title %}ToDo List{% endblock %}

{% block content %}
<div class="row align-items-center justify-content-center">
    <h4 class="font_color"><strong>Hoang Anh</strong></h4>
</div>
<div class="row align-items-center justify-content-center">
    <a href="{{ url_for('register') }}">
    <button class="button is-link is-rounded">Register</button>
    </a>
    <a href="{{ url_for('login') }}">
        <button class="button is-info is-rounded">Login</button>
    </a>
    <a href="#">
        <button class="button is-danger is-rounded">Logout</button>
    </a>
</div>


<br><br><br><br>
<div class="row d-flex align-items-center justify-content-center flex-column ">
    <h3 class="font_color">Todo App</h3>

    <form action={{ url_for('add') }} method="POST">
        {{ form.csrf_token }}
        <div class="d-flex align-items-center mb-3">
            <div class="form-group mr-3 mb-0">
                {{ form.task(class="form-control", placeholder="Enter a task here") }}
            </div>
            {{ form.submit(class="btn btn-primary mr-3") }}
        </div>
    </form>

    <div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert"></button>
            {{ message }}
        </div>
        {% endfor %}
    </div>

    <div class="table-wrapper">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="font_color">Todo item</th>
                    <th class="font_color">Status</th>
                    <th class="font_color">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                {% if task.status == 'Completed' %}
                <tr class="table-success">
                    <td class="complete">
                        {% else %}
                <tr class="table-light">
                    <td>
                        {% endif %}
                        {{ task.name }}
                    </td>
                    <td>{{ task.status }}</td>
                    <td>
                        <a href={{ url_for('delete', id=task.id) }} <button class="btn btn-danger"
                            ng-click="delete($index)">
                            Delete
                            </button>
                        </a>

                        <a href={{ url_for('completed', id=task.id) }}>
                            <button class="btn btn-success">
                                Finished
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
